@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth fonts & selection */
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
::selection { background: rgba(168, 85, 247, .25); }

/* OS-style cursor and nice grid */
html, body, #__next { height: 100%; }
html, body { overflow-x: hidden; }
body {
  @apply bg-black text-white;
  background-image: radial-gradient(transparent 1px, rgba(255,255,255,.02) 1px), radial-gradient(transparent 1px, rgba(255,255,255,.02) 1px);
  background-size: 24px 24px, 24px 24px;
  background-position: 0 0, 12px 12px;
}
